
<div>
  <h1>Latest from Following</h1>
  <%= turbo_frame_tag 'posts' do %>
    <div>
      <% @posts.each do |post| %>
        <%= render partial: "posts/post_card", locals: { post: post } %>
      <% end %>
    </div>
  <% end %>
</div>